.content-web {
  background-color: #F9F9F7;
}

.content-web .container {
  padding: 7.5rem 9.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 5.6rem;
}

.content-web .container h1.main-title {
  text-align: left;
}

.content-web .container .img {
  display: flex;
}

.content-web .container .img .img-left {
  padding-right: 1rem;
  margin-top: -1.5rem;
}

.content-web .container .img .img-right .img-3 {
  padding-top: 1rem;
}

.content-web .container .detail .text {
  color: #414536;
  font-size: 0.92rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.content-web .container .detail .info-content {
  font-size: 1.125rem;
}

.content-web .container .detail .list {
  padding-top: 2.5rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 1520px) {
  .content-web .container .img img {
    width: 100%;
  }
  .content-web .container .detail .text {
    font-size: 0.9rem;
  }
  .content-web .container .detail .info-content {
    font-size: 1.025rem;
  }
  .content-web .container h1.main-title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  
  .content-web .container .img .img-left {
    padding-right: 0.8rem;
    width: 60%;
  }

  .content-web .container .img .img-right {
    width: 40%;
  }

  .content-web .container .img .img-right .img-3 {
    padding-top: 0.8rem;
  }
  .content-web .container .detail .list {
    padding-top: 2rem;
  }
  .content-web .container .info-content {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1320px) {
  .content-web .container {
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
  }
}
@media only screen and (max-width: 1190px) {
  .content-web .container {
    grid-template-columns: 1fr 1fr;
  }
  .content-web .container .info-content {
    font-size: 0.85rem;
    padding: 0.25rem;
  }
  
  .content-web .info-content-icon {
    color: white;
    padding: 0.4rem;
    width: 1.8rem !important;
    height: 1.8rem !important;
    background-color: #AD343E;
    border-radius: 100%;
    margin-right: 1rem;
  }

  .content-web .container .detail .list {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .content-web .container {
    gap: 3.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .content-web .container {
    display: block;
  }
  .content-web .container h1.main-title {
    font-size: 2.2rem;
  }
  .content-web .container .detail {
    margin-top: 1.5rem;
  }
  
  .content-web .container .detail .list {
    padding-top: 0.8rem;
  }
}

@media only screen and (max-width: 550px) {
  .content-web .container {
    padding: 2.5rem 2rem;
  }

  .content-web .container h1.main-title {
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  
  .content-web .container .img {
    display: flex;
  }
  .content-web .container .img img {
    width: 100%;
  }
  
  .content-web .container .img .img-left {
    margin-top: 1rem;
    padding-right: 1rem;
    width: 60%;
  }

  .content-web .container .img .img-right {
    width: 40%;
  }
  
  .content-web .container .detail .text {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}