footer {
  background-color: var(--backgound);
}

footer .footer-container {
  padding: 7.5rem 9.5rem 2.31rem 9.5rem;
}

footer .footer-container .top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

footer .top .box-1 p {
  color: var(--color-8);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  padding: 1.88rem 0;
}

footer .icon-footer {
  padding: 0.5rem;
  width: 2.1875rem !important;
  height: 2.1875rem !important;
  background-color: var(--primary-color);
  border-radius: 100%;
  margin-right: 0.75rem;
  transition: var(--transition-1);
}

footer .icon-footer:hover path {
  fill: var(--primary-color);
}

footer .icon-footer:hover {
  background-color: var(--color-9);
  transition: var(--transition-1);
}

footer .top .box-2 {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

footer .top h4 {
  color: var(--color-1);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
footer .top .box-2 ul {
  padding-top: 2.5rem;
}
footer .top .box-2 ul li {
  padding-bottom: 1.25rem;
  transition: var(--transition-1);
}

footer .top .box-2 ul li a {
  color: var(--color-9);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}

footer .top .box-2 ul li:hover a {
  color: var(--primary-color);
  transition: var(--transition-1)
}
footer .top .box-3 .img {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

footer .top .box-3 .img img {
  border-radius: 0.75rem;
  transition: ease 0.3s;
}

footer .top .box-3 .img img:hover {
  cursor: pointer;
  filter: brightness(60%);
  transition: ease 0.3s;
}

footer .bottom {
  margin-top: 6.25rem;
  padding: 1.88rem;
  border-top: 2px solid var(--color-4);
  text-align: center;
}

footer .bottom p {
  color:var(--color-8);
  font-size: 1rem;
  font-weight: 400;
}

/* RESPONSIVE */
/* DESKTOP */
@media only screen and (max-width: 1440px) {
  footer .footer-container {
    padding: 5.5rem 7.5rem 0 7.5rem;
  }
  footer .top .box-1 p {
    font-size: 0.9rem;
  }
  footer .top .box-2 {
    gap: 2.5rem;
  }
  footer .top .box-2 ul li {
    padding-bottom: 1rem;
  }
  footer .top .box-3 .img img {
    width: 100%;
  }
  footer .bottom {
    margin-top: 2.6rem;
  }
}

@media only screen and (max-width: 991px) {
  footer .footer-container .top {
    display: block;
  }
  footer .top .box-1 {
    padding-bottom: 1.5rem;
  }
  footer .top .box-2 {
    padding-bottom: 1.5rem;
  }
  footer .top .box-3 .img {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 550px) {
  footer .footer-container{
    padding: 2.5rem 2rem 0rem 2rem; 
  }
  
  footer .top .box-1 p {
    padding: 0.6rem 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  
  footer .top .icon-list {
    text-align: center;
  }
  footer .icon-footer {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }

  footer .top .box-2 {
    margin: 0 auto;
    font-size: 0.9rem;
    gap: 0 3rem;
    width: 100%;
  }

  footer .top .box-2 ul {
    padding-top: 1.6rem;
  }

  footer .top .box-2 ul li {
    padding-bottom: 0.86rem;
  }

  footer .top .box-2 ul li a {
    font-size: 0.8rem;
  }

  footer .top .box-3 .img {
    padding-top: 1rem;
    padding-right: 0;
  }
  footer .top .box-3 .img img {
    width: 100%;
  }
  footer .bottom {
    margin-top: 2rem;
  }
  footer .bottom p {
    font-size: .8rem;
  }
}