.menu-item {
  text-align: center;
  border-radius: 0.75rem;
  border: 1.5px solid #DBDFD0;
}

.menu-item .box-item {
  margin: 1rem;
}

.menu-item h2 {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.875rem; /* 125% */
  letter-spacing: -0.045rem;
  padding: 0.8rem 0;
}

.menu-item p {
  color: #414536;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 1.15rem;
}