.content-web {
  background-color: #F9F9F7;
}

.content-web .container {
  padding: 7.5rem 9.5rem;
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
}

.content-web .container .img {
  display: flex;
}

.content-web .container .img .img-left {
  padding-right: 1.5rem;
  margin-top: -1.5rem;
}

.content-web .container .img .img-right .img-3 {
  padding-top: 1.5rem;
}

.content-web .container .detail p {
  color: #414536;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.content-web .container .detail .list {
  padding-top: 3.12rem;
}