.input-group > button {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}

.input-group {
  flex: 1;
  position: relative;
}

.input {
  font-family: 'DM Sans', sans-serif;
  border-radius: 4.5rem;
  border: 1px solid  #DBDFD0;
  background: #FFF;
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
  color:#2C2F24;
}

.input-group label {
  display: block;
  color: #2C2F24;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}