.input-group > button {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}

.input-group {
  flex: 1;
  position: relative;
}

.input {
  font-family: var(--font-1);
  border-radius: 4.5rem;
  border: var(--border-1)  ;
  background: var(--color-1);
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
  color: var(--secondary-color);
}

.input-group label {
  display: block;
  color: var(--secondary-color);
  font-weight: 700;
}