.icon-primary {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
}

.icon-primary svg {
  color: var(--color-1);
  padding: 0.4rem;
  width: 2rem !important;
  height: 2rem !important;
  background-color: var(--primary-color);
  border-radius: 100%;
  margin-right: 1.25rem;
}

.icon-secondary {
  color: var(--color-1);
  padding: 0.43rem 0;
  display: flex;
  align-items: center;
}

.icon-secondary p {
  padding-left: 1.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--color-6);
}