.about {
  background-color: var(--color-6);
  text-align: left;
}

.about .container {
  padding: 7.5rem 9.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  border: 0.75rem;
}

.about .container h1.main-title {
  text-align: left;
  font-size: 3.2rem;
  line-height: 3.5rem;
}

.about .container .content p {
  padding-top: 1rem;
}


.about .container .content .content-1 {
  color: var(--secondary-color);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.about .container .content .content-2 {
  color: var(--color-10);
  font-size: 1rem;
  line-height: 1.5rem;
}

.about .container .content .about-button {
  padding-top: 1.5rem;
}

.about .container .img {
  width: 100%;
  background-repeat: no-repeat;
  background-position:top;
  background-size: 100%;
  position: relative;
  height: 526px;
}

.about .container .img img {
  padding-right: 2rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .about .container .img {
    height: 457px;
  }
  .about .container .contact-card {
    bottom: -12%;
  }
  .about .container h1.main-title {
    font-size: 2.7rem;
  }  
  .about .container .content .content-1 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .about .container .content .content-2 {
    font-size: 0.8rem;
  }
  .about .container .contact-card .contact-card-box {
    padding: 2rem;
  }
  .about .container button {
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
  }
  .about .container .contact-card {
    width: 22rem;
  }
}

@media only screen and (max-width: 1290px) {
  .about .container .contact-card {
    bottom: -4%;
  }
}

@media only screen and (max-width: 1233px) {
  .about .container {
    padding: 5.5rem 7.5rem;
    gap: 0 3.7rem;
  }
  .about .container .img {
    height: 28.5rem;
  }
  .about .container .img img {
    padding-right: 0;
  }
  .about .container .contact-card {
    width: 20rem;
  }
  .about .container .contact-card .contact-card-box {
    padding: 2.5rem 2rem;
  }
  .about .container .contact-card .contact-card-box h3 {
    font-size: 1.4rem;
    letter-spacing: -0.045rem;
    padding-bottom: 0.5rem;
  }
  .about .container .content p {
    padding-top: 1.2rem;
  }
  .about .container .content .content-1 {
    font-size: 1.025rem;
    line-height: 1.45rem;
  }
  .about .container .content .content-2 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .about .container .content .about-button {
    padding-top: 1.5rem;
  }
  .about .container .about-button button {
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  .about .container .contact-card .contact-card-box .icon-secondary p {
    font-size: 0.85rem;
    padding-left: 0.5rem;
  }
}

@media only screen and (max-width: 1199px) {
  .about .container .contact-card {
    bottom: 2%;
  }
  .about .container h1.main-title {
    font-size: 2.45rem;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .about .container {
    display: block;
  }
  .about .container .img {
    height: 457px;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .about .container h1.main-title {
    text-align: left;
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .about .container .content {
    padding-top: 5.7rem;
  }
  .about .container .contact-card {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10%;
  }
}

@media only screen and (max-width: 550px) {
  .about .container {
    padding: 2.5rem 2rem 0 2rem;
  }
  .about .container h1.main-title {
    text-align: center;
  }
  .about .container .img {
    height: 22rem;
  }
  .about .container .contact-card {
    bottom: -15%;
    width: 18rem;
  }
  .about .container .contact-card .contact-card-box {
    padding: 1.5rem 1.25rem;
  }
  .about .container .contact-card .contact-card-box h3 {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: -0.045rem;
  }
  .about .container .icon-secondary .css-i4bv87-MuiSvgIcon-root, .about .container .icon-secondary .css-vubbuv  {
    width: 1.2rem;
    height: 1.2rem;
  }
  .about .container .icon-secondary p {
    padding-left: 1rem;
  }
  .about .container .content {
    padding: 5.7rem 0 2.5rem 0;
  }
  .about .container .content p {
    padding-top: 1.2rem;
  }
  .about .container .content .content-1 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.65rem;
  }
  .about .container .content .content-2 {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .about .container .content .about-button {
    padding-top: 1.5rem;
    text-align: center;
  }
  .about .container .content .about-button button {
    border: 1px solid;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.8rem 1rem;
  }
  .about .container .img img {
    padding-right: 0;
  }
}

@media only screen and (max-width: 440px) {
  .about .container .contact-card {
    width: 16rem;
  }

  .about .container h1.main-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .about .container .content .content-1 {
    font-size: 0.85rem;
    line-height: 1.4rem;
  }
  
  .about .container .content .content-2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  
  .about .container .contact-card .contact-card-box {
    padding: 1.5rem 1.25rem;
  }
  
  .about .container .contact-card .contact-card-box h3 {
    font-size: 0.95rem;
  }
  /* ICON */
  .about .container .icon-secondary .css-i4bv87-MuiSvgIcon-root, .about .container .icon-secondary .css-vubbuv {
    width: 1.1rem;
    height: 1.1rem;
  }
  .about .container .contact-card .contact-card-box .icon-secondary {
    padding: 0.2rem 0;
  }
  .about .container .contact-card .contact-card-box .icon-secondary p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 380px) {
  .about .container .content .about-button button {
    padding: 0.5rem 0.8rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 330px) {
  .about .container h1.main-title {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}