.about {
  background-color: #F9F9F7;
}

.about .container {
  padding: 7.5rem 9.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 5.7rem;
}

.about .container .content {
  padding: 5.7rem 0;
}

.about .container .content p {
  padding-top: 1.5rem;
}

.about .container .content .content-1 {
  color: #2C2F24;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.about .container .content .content-2 {
  color: #5c6053;
  font-size: 1rem;
  line-height: 1.5rem;
}

.about .container .content .about-button {
  padding-top: 2.5rem;
}

.about .container .img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  position: relative;
}

.about .container .img img {
  padding-right: 2rem;
}