header{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 5rem;
  font-size: .8rem;
}
.logo{
  width: 40%;
}
header .content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
nav ul li.active{
  padding: 0.65rem 1.7rem;
  background-color: #DBDFD0;
  border-radius: 2rem;
}

nav ul li a:hover {
  color: #AD343E;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 600;
}

/* MOBILE */
header .mobile-icon {
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: #2C2F24;
}

/* RESPONSIVE */

@media only screen and (max-width: 1520px) {
  header button {
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 1199px) {
  header{
    justify-content: space-between;
    padding: 0.8rem 1rem;
  }

  header .mobile-icon {
    display: block;
  }

  header .content {
    display: none;
  }
}