.services .container {
  padding: 7.5rem;
}

.services .container h1.main-title {
  width: 48%;
}

.services .container .service-options {
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.services .container .card-box {
  box-shadow: none;
}

.services .container .card-box .card-container .title {
  padding: 0.75rem 0;
  font-size: 1.3rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 1440px) {
  .services .container h1.main-title {
    width: 50%;
    font-size: 2.9rem;
  }
}
@media only screen and (max-width: 1300px) {
  .services .container h1.main-title {
    width: 53%;
  }
  
  .services .container .card-box .card-container .title {
    padding: 0.5rem 0;
  }

  .services .container .card-box .card-container .detail {
    font-size: 0.83rem;
  }
}

@media only screen and (max-width: 1220px) {
  .services .container {
    padding: 5.5rem 7.5rem;
  }
  .services .container h1.main-title {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 1199px) {
  .services .container h1.main-title {
    font-size: 2.45rem;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .services .container h1.main-title {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .services .container .service-options {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  .services .container h1.main-title {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 550px) {
  .services .container {
    padding: 2.5rem 2rem;
  }
  
  .services .container h1.main-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
  }

  .services .container .card-box .card-container .title {
    padding: 0;
    font-size: 1rem;
  }

  .services .container .card-box .card-container .detail {
    font-size: 0.65rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 440px) {
  .services .container h1.main-title {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
  .services .container .card-box .card-container .detail {
    font-size: 0.62rem;
  }
}

@media only screen and (max-width: 330px) {
  .services .container h1.main-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}