button {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  background: transparent;
  transition: ease-in-out;
  transition-duration: .3s;
}

.isRed {
  background-color: #AD343E;
  color: white;
  border: 1px solid #AD343E;
}

.menu-button .isRed {
  background: transparent;
  border: none;
  color: #AD343E;
}

.no-bg {
  border: none;
  color: #AD343E;
  font-size: 1rem;
}