.about-content-1 .bg-video .bg {
  width: 100%;
}

.about-content-1 .btn-play {
  cursor: pointer;
  width: 6.625rem;
  height: 6.625rem;
  border-radius: 100%;
}

.about-content-1 h1.main-title {
  padding-top: 2rem;
  color: white;
}

.about-content-1 .bg-video {
  position: relative;
}

.video-content {
  width: 40%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.about-content-1 .features {
  padding: 5rem 9.5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5rem;
}

.about-content-1 .features .feature-1 {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.about-content-1 .features .feature-1 .text h4 {
  color: #2C2F24;
  font-size: 1rem;
  font-weight: 700;
}

.about-content-1 .features .feature-1 .text p {
  padding-top: 0.5rem;
  color: #414536;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

/* RESPONSIVE */
@media only screen and (max-width: 1350px) {
  .about-content-1 .features {
    gap: 3.5rem;
  }
}
@media only screen and (max-width: 1300px) {
  .about-content-1 .features {
    gap: 2.5rem;
  }
  .about-content-1 .features .feature-1 .text p {
    line-height: 1.15rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1199px) {
  .about-content-1 h1.main-title {
    font-size: 2.8rem;
    padding-top: 1.5rem;
  }

  .about-content-1 .features {
    padding: 5.5rem 7.5rem;
    gap: 3.5rem;
  }

  .about-content-1 .features .feature-1 {
    gap: 1.2rem;
  }

  .about-content-1 .features .feature-1 .text h4 {
    font-size: 0.95rem;
  }
  
  .about-content-1 .features .feature-1 .text p {
    padding-top: 0.35rem;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 991px) {
  .about-content-1 .btn-play{
    width: 5.625rem;
    height: 5.625rem;
  }

  .about-content-1 h1.main-title {
    font-size: 2.2rem;
    padding-top: 1.2rem;
    line-height: 2.56rem;
  }

  .about-content-1 .features {
    padding: 4.5rem 6.5rem;
    gap: 1.5rem
  }

  .about-content-1 .features .feature-1 {
    gap: 0.8rem;
  }

  .about-content-1 .features .feature-1 img{
    width: 15%;
  }

  .about-content-1 .features .feature-1 .text h4 {
    font-size: 0.8rem;
  }
  
  .about-content-1 .features .feature-1 .text p {
    padding-top: 0.25rem;
    font-size: 0.55rem;
    line-height: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-content-1 .btn-play{
    width: 3.625rem;
    height: 3.625rem;
  }
  .video-content {
    width: 50%;
  }

  .about-content-1 h1.main-title {
    font-size: 2rem;
    padding-top: 1rem;
    line-height: 2.2rem;
  }

  .about-content-1 .features {
    padding: 1.5rem;
  }

  .about-content-1 .features .feature-1 {
    gap: 0.7rem;
  }
  .about-content-1 .features .feature-1 .text h4 {
    font-size: 0.75rem;
  }
  
  .about-content-1 .features .feature-1 .text p {
    padding-top: 0.25rem;
    font-size: 0.58rem;
    line-height: 0.8rem;
  }
}

@media only screen and (max-width: 620px) {
  .video-content {
    width: 55%;
  }

  .about-content-1 .btn-play{
    width: 3rem;
    height: 3rem;
  }

  .about-content-1 h1.main-title {
    font-size: 1.7rem;
    padding-top: 0.2rem;
    line-height: 2rem;
  }

  .about-content-1 .features {
    padding: 1rem 1.5rem;
    gap: 1.5rem
  }

  .about-content-1 .features .feature-1 img{
    width: 13%;
  }

  .about-content-1 .features .feature-1 {
    gap: 0.5rem;
  }
  .about-content-1 .features .feature-1 .text h4 {
    font-size: 0.7rem;
  }
  
  .about-content-1 .features .feature-1 .text p {
    padding-top: 0.2rem;
    font-size: 0.5rem;
    line-height: 0.6rem;
  }
}

@media only screen and (max-width: 550px) {
  .about-content-1 .btn-play{
    width: 2.8rem;
    height: 2.8rem;
  }

  .about-content-1 h1.main-title {
    font-size: 1.6rem;
    padding-top: 0.2rem;
    line-height: 1.8rem;
  }

  .about-content-1 .features {
    display: block;
    padding: 0.5rem 1.5rem;
  }

  .about-content-1 .features .feature-1 {
    margin-bottom: 1rem;
  }

  .about-content-1 .features .feature-1 img{
    width: 1.2rem;
  }

  .about-content-1 .features .feature-1 .text h4 {
    font-size: 0.8rem;
  }
  
  .about-content-1 .features .feature-1 .text p {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 450px) {
  .video-content {
    width: 50%;
  }
  .about-content-1 .btn-play{
    width: 2rem;
    height: 2rem;
  }

  .about-content-1 h1.main-title {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .about-content-1 .features .feature-1 .text h4 {
    font-size: 0.75rem;
  }
  
  .about-content-1 .features .feature-1 .text p {
    font-size: 0.55rem;
  }
}