.blog-details-hero .container {
  padding: 5rem 17rem;
}

.blog-details-hero .title {
  text-align: center;
  padding: 0 2rem;
}

.blog-details-hero .blog-img-1 img {
  width: 100%;
  margin: 2.5rem 0;
  border-radius: 0.75rem;
}

.blog-details-hero .content .sub-title {
  color:  #2C2F24;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}

.blog-details-hero .content br {
  
}