.blog-detail-content {
  background-color: var(--color-1);
}

.blog-detail-content .container {
  padding: 5rem 9.5rem;
}

.blog-detail-content .container .title {
  text-align: center;
}

.blog-detail-content .title p {
  color: var(--color-7);
  font-size: 1.125rem;
  padding-top: 1.125rem;
  line-height: 1.5rem;
  width: 52%;
  margin: 0 auto;
}

.blog-detail-content .blogs {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 1328px) {
  .blog-detail-content .title p {
    width: 62%;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1299px) {
  .blog-detail-content .title p {
    width: 64%;
  }
  .card-box .card-container .card-blog-content {
    padding: 1.2rem 1rem 0.8rem 1rem;
  }
  .blog-detail-content .card-box .card-container .blog-title {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
  }
  .blog-detail-content .card-box .card-container .blog-detail {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }
}

@media only screen and (max-width: 1270px) {
  .blog-detail-content .title p {
    width: 62%;
    font-size: 1.05rem;
  }
  .blog-detail-content .card-box .card-container .blog-detail {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 1199px) {
  .blog-detail-content .container {
    padding: 5.5rem 7.5rem;
  }
  .blog-detail-content .title h1.main-title {
    font-size: 2.9rem;
    line-height: 3rem;
  }
  .blog-detail-content .title p {
    font-size: 1.05rem;
  }
  .blog-detail-content .blogs {
    gap: 1rem;
  }
  .card-box .card-container .card-blog-content {
    padding: 1.2rem 0.8rem 0.8rem;
  }
}

@media only screen and (max-width: 1175px) {
  .blog-detail-content .container {
    padding: 4.5rem 6.5rem;
  }
  .blog-detail-content .title h1.main-title {
    font-size: 2.8rem;
  }
  .blog-detail-content .container .blogs {
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .blog-detail-content .title h1.main-title {
    font-size: 2.6rem;
  }
  .blog-detail-content .title p {
    width: 80%;
    padding-top: 0.5rem;
  }
  .blog-detail-content .container .blogs {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .card-box .card-container .card-blog-content {
    padding: 1.2rem 1rem 0.8rem 1rem;
  }
  .blog-detail-content .card-box .card-container .blog-title {
    font-size: 0.9rem;
  }
  .blog-detail-content .card-box .card-container .blog-detail {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 878px) {
  .blog-detail-content .container {
    padding: 1.5rem;
  }
  .blog-detail-content .title h1.main-title {
    font-size: 2.15em;
    line-height: 2.5rem;
  }
  .blog-detail-content .title p {
    font-size: 0.85rem;
    line-height: 1.5rem;
    width: 80%;
  }
}

@media only screen and (max-width: 770px) {
  .blog-detail-content .title h1.main-title {
    font-size: 2rem;
    line-height: 2.35rem;
  }
  .blog-detail-content .container {
    padding: 2.5rem;
  }
  .blog-detail-content .content .sub-title {
    font-size: 1.125rem;
  }
  .blog-detail-content .title p {
    font-size: 0.78rem;
    line-height: 1.25rem;
  }
}

@media only screen and (max-width: 680px) {
  .blog-detail-content .title h1.main-title {
    font-size: 1.85rem;
  }
  .blog-detail-content .title p {
    line-height: 1.125rem;
    width: 88%;
    padding-top: 0.25rem;
  }
  .blog-detail-content .card-box .card-container .card-blog-content {
    padding: 0.8rem;
  }
  .blog-detail-content .card-box .card-container .blog-title {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
  }
  .blog-detail-content .card-box .card-container .blog-detail {
    line-height: 1.05rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 550px) {
  .blog-detail-content .container {
    padding: 2.5rem 1.5rem;
  }
  .blog-detail-content .title h1.main-title {
    font-size: 1.6rem;
  }
  .blog-detail-content .title p {
    font-size: 0.7rem;
    width: 100%;
  }
  .blog-detail-content .container .blogs {
    gap: 1rem;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 440px) {
  .blog-detail-content .title h1.main-title {
    font-size: 2rem;
  }
  .blog-detail-content .card-box .card-container .card-blog-content {
    padding: 0.8rem 0.5rem;
  }
  .blog-detail-content .card-box .card-container .blog-title {
    font-size: 0.65rem;
  }
  .blog-detail-content .card-box .card-container .blog-detail {
    font-size: 0.7rem;
  }
}