.card-box {
  background-color: white;
  border-radius: 0.8rem;

  box-shadow: 0px 2.979px 59.574px 0px rgba(0, 0, 0, 0.08);

}

.card-box .card-container .img img {
  width: 100%;
}

.card-box .card-container .title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem; /* 125% */
  letter-spacing: -0.045rem;
  padding-bottom: 0.94rem;
}

.card-box .card-container .detail {
  color: #414536;
  font-weight: 400;
  line-height: 1.5rem;
}

/* menu */
.menu-hero .cards .card .text {
  padding: 1rem 1.8rem 2rem 1.8rem;
}

.menu-hero .cards .card img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  width: 100%;
}

.menu-hero .cards .card .price {
  color: #AD343E;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.045rem;
}

.menu-hero .cards .card .name {
  color: #2C2F24;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.menu-hero .cards .card .desc {
  color: #414536;
  font-size: 0.95rem;
  font-weight: 400;
}