.card-box {
  background-color: white;
  border-radius: 0.8rem;
}

.card-box .card-container .img img {
  width: 100%;
}

.card-box .card-container .title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem; /* 125% */
  letter-spacing: -0.045rem;
  padding-bottom: 0.94rem;
}

.card-box .card-container .detail {
  color: #414536;
  font-weight: 400;
  line-height: 1.5rem;
}