.book {
  background-color: #F9F9F7;
}

.book .hero .title {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.book .hero .title h1.main-title {
  font-size: 5.8rem;
  line-height: 6rem;
}

.book .hero .title p {
  color: #495460;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 1.125rem 1.5rem 0 1.5rem;
  line-height: 1.5rem;
}

.book .map img {
  width: 100%;
}

.book .hero {
  padding: 5rem 0 18rem 0;
  position: relative;
}

@media only screen and (max-width: 1450px) {
  .book .hero .title p {
    padding: 1.125rem 0.5rem 0 0.5rem;
  }
}

@media only screen and (max-width: 1370px) {
  
  .book .hero .title h1.main-title {
    font-size: 5.2rem;
    line-height: 5.5rem;
  }
  
  .book .hero .title p {
    font-size: 1.05rem;
  }
}

@media only screen and (max-width: 1300px) {
  .book .hero .title {
    width: 42%;
  }
}

@media only screen and (max-width: 1175px) {
  .book .hero .title {
    width: 48%;
  }
  .book .hero .title h1.main-title {
    font-size: 5rem;
    line-height: 5.2rem;
  }

  .book .hero .form {
    top: 10%;
  }
}

@media only screen and (max-width: 991px) {
  .book .hero .title {
    width: 50%;
  }
  .book .hero .title h1.main-title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  
  .book .hero .title p {
    font-size: 0.9rem;
  }

  .book .hero {
    padding: 3rem 0 16rem 0;
  }

  .book .hero .form {
    padding: 2rem 2.8rem;
    width: 60%;
  }

  .book .hero .form form {
    gap: 1rem;
  }

  .book .hero .form label {
    font-size: 0.9rem;
  }
  
  .book .hero .form .input {
    font-size: 0.9rem;
    padding: 0.85rem 1.25rem;
  }

  .book .hero .form form .input-group > button {
    padding: 0.85rem 1.25rem;
  }
}

@media only screen and (max-width: 878px) {
  .book .hero .title {
    width: 52%;
  }
  .book .hero .title h1.main-title {
    font-size: 4rem;
    line-height: 4rem;
  }
  
  .book .hero .title p {
    font-size: 0.9rem;
  }

  .book .hero {
    padding: 3rem 0 16rem 0;
  }

  .book .hero .form {
    padding: 2rem 2.2rem;
  }

  .book .hero .form form {
    gap: 1rem;
  }

  .book .hero .form label {
    font-size: 0.85rem;
  }
  
  .book .hero .form .input {
    font-size: 0.85rem;
    padding: 0.75rem 1.25rem;
  }

  .book .hero .form form .input-group > button {
    padding: 0.75rem 1.25rem;
  }
  .book .hero .form .input-group .select-icon {
    font-size: 1.1rem;
    right: 1rem;
    bottom: 0.8rem;
  }
  .book .hero .form .input-group .select-icon.person {
    bottom: 0.7rem;
  }
  
  .book .hero .form .input-group .input-icon {
    bottom: 0.95rem;
  }
}

@media only screen and (max-width: 770px) {
  .book .hero .title {
    width: 65%;
  }
  .book .hero .title h1.main-title {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  .book .hero .title p {
    padding-top: 0.5rem;
  }
  .book .hero {
    padding: 3rem 0 13rem 0;
  }

  .book .hero .form {
    padding: 2rem 2.2rem;
    top: 6%;
    width: 70%;
  }

  .book .hero .form form {
    gap: 0.9rem;
  }
}

@media only screen and (max-width: 680px) {
  .book .hero .title {
    width: 70%;
  }
  .book .hero .title h1.main-title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .book .hero .title p {
    line-height: 1.2rem;
  }

  .book .hero .form {
    padding: 2rem 2.2rem;
    top: 0;
    width: 80%;
  }

  .book .hero .form form {
    gap: 0.9rem;
  }

  .book .hero .form label {
    font-size: 0.8rem;
  }
  
  .book .hero .form .input {
    font-size: 0.8rem;
    padding: 0.7rem 1.2rem;
  }

  .book .hero .form form .input-group > button {
    padding: 0.7rem 1.2rem;
  }
}

@media only screen and (max-width: 550px) {
  .book .hero .title {
    width: 80%;
  }

  .book .hero .title h1.main-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .book .hero .title p {
    font-size: 0.75rem;
  }

  .book .hero .form {
    padding: 1.8rem 2rem;
    width: 85%;
  }

  .book .hero .form form {
    gap: 0.8rem;
  }

  .book .hero .form label {
    font-size: 0.75rem;
  }
  
  .book .hero .form .input {
    font-size: 0.75rem;
    padding: 0.6rem 1rem;
  }

  .book .hero .form form .input-group > button {
    padding: 0.6rem 1rem;
  }
  .book .hero .form .input-group .select-icon {
    font-size: 1rem;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}

@media only screen and (max-width: 485px) {
  .book .hero .title {
    width: 85%;
  }
  .book .hero {
    padding: 2rem 0 10rem 0;
  }
  .book .hero .title h1.main-title {
    font-size: 2rem;
  }

  .book .hero .title p {
    line-height: 1rem;
    font-size: 0.65rem;
    padding: 0.5rem 0 0 0;
  }

  .book .hero .form {
    padding: 1rem 0.8rem;
  }

  .book .hero .form form {
    gap: 0.75rem;
  }

  .book .hero .form label {
    font-size: 0.7rem;
  }
  
  .book .hero .form .input {
    font-size: 0.6rem;
    padding: 0.5rem 0.75rem;
  }

  .book .hero .form form .input-group > button {
    padding: 0.5rem 0.75rem;
    font-size: 0.7rem;
  }
  .book .hero .form .input-group .select-icon{
    bottom: 0.7rem;
    right: 0.8rem;
    font-size: 0.75rem;
  }
  .book .hero .form .input-group .select-icon.person{
    bottom: 0.6rem;
  }
  
  .book .hero .form .input-group .input-icon {
    font-size: 0.8rem;
    bottom: 0.6rem;
    right: 0.9rem;
  }
}


@media only screen and (max-width: 380px) {
  .book .hero .form .input-group .input-icon {
    font-size: 0.65rem;
    bottom: 0.7rem;
    right: 0.8rem;
  }
  .book .hero .title p {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}