.menu {
  text-align: center;
  padding: 5.5rem 9.5rem;
}

.menu .box {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.menu .menu-item {
  text-align: center;
  border-radius: 0.75rem;
  border: 1.5px solid var(--color-9);
}

.menu .menu-item .box-item {
  margin: 1rem;
}

.menu-item h2 {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.875rem; /* 125% */
  letter-spacing: -0.045rem;
  padding: 0.8rem 0;
}

.menu-item p {
  color: var(--color-4);
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.45rem;
  padding-bottom: 1.15rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 1440px) { 
  .menu {
    padding: 5.5rem; 
  }
}
@media only screen and (max-width: 1240px) {
  .menu .box .menu-item .box-item img {
    padding-bottom: 0;
    width: 40%;
  }

  .menu .box .menu-item h2 {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
  
  .menu .box .menu-item p {
    font-size: 0.8rem;
    line-height: 1.15rem;
    padding-bottom: 0.2rem;
  }

  .menu .box button {
    font-weight: 600;
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .menu h1.main-title {
    font-size: 2.5rem;
  }
  .menu .box {
    padding-top: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 550px) {
  .menu {
    padding: 2.5rem 2rem; 
  }
  .menu .box {
    gap: 1rem;
  }
  .menu h1.main-title {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
  }
  .menu .box .menu-item .box-item {
    margin: 0.8rem 0.5rem;
  }
  .menu .box .menu-item .box-item img {
    padding-bottom: 0;
    width: 40%;
  }
  .menu .box .menu-item h2 {
    font-size: 0.95rem;
    padding-bottom: 0;
  }
  .menu .box .menu-item p {
    font-size: 0.65rem;
    line-height: 1rem;
    padding-bottom: 0.2rem;
  }
  .menu .box button {
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.8rem 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .menu h1.main-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
@media only screen and (max-width: 380px) {
  .menu .box .menu-item .box-item img {
    width: 40%;
  }
  .menu .box .menu-item h2 {
    font-size: 0.85rem;
    padding-bottom: 0;
    padding-top: 0.2rem;
  }
  .menu .box .menu-item p {
    font-size: 0.5rem;
    line-height: 0.85rem;
  }
  .menu .box button {
    font-weight: 600;
    font-size: 0.55rem;
    padding: 0.5rem 0.8rem;
  }
}
@media only screen and (max-width: 330px) {
  .menu .box .menu-item h2 {
    font-size: 0.8rem;
  }
  .menu .box .menu-item p {
    font-size: 0.42rem;
    line-height: 0.75rem;
  }
  .menu .box button {
    font-size: 0.5rem;
    padding: 0.45rem 0.7rem;
  }
}