.testimonial .container {
  padding: 6.13rem 9.5rem;
}

.testimonial .container .list-card {
  display: flex;
  justify-content: space-between;
  gap: 0 1.5rem;
  padding-top: 4rem;
}
.testimonial h1.main-title {
  text-align: center;
}

/* RESPONSIVE */
/* DESKTOP */
@media only screen and (max-width: 1520px) {
  .testimonial .container {
    padding: 5.5rem 7.5rem;
  }
  .testimonial h1.main-title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 1320px) {
  .testimonial .container .card-item .card-item-container .text {
    font-size: 0.8125rem;
    line-height: 1.75rem;
    padding: 1rem 0;
  }
  .testimonial .container .card-item .card-item-container .title {
    font-size: 1.25rem;
  }
  .testimonial .container .card-item .card-item-container {
    padding: 2rem 1.5rem;
  }
  .testimonial .container .user-info h5, .testimonial .container .user-info p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 991px) {
  .testimonial .container .list-card {
    padding-top: 1.5rem;
  }
  .testimonial .container .list-card {
    display: block;
  }
  .testimonial .container .list-card .card-item {
    margin: 1.5rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial h1.main-title {
    font-size: 2.2rem;
  }
}

/* MOBILE */
@media only screen and (max-width: 550px) {
  .testimonial .container {
    padding: 2.5rem 2rem;
  }
  .testimonial .container h1.main-title {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .testimonial .container .list-card {
    padding-top: 0;
  }

  .testimonial .container .card-item .card-item-container .title {
    font-size: 1.2rem;
  }

  .testimonial .container .card-item-container .text {
    padding-top: 0.8rem;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 0.8rem;
    line-height: 1.35rem;
  }
  .testimonial .user-container .user-info h5, .testimonial .user-container .user-info p {
    font-size: 0.9rem;
  }
  
}